<footer>
    <div class="top-footer">
        <div class="container">
            <ul>
                <li><a href=""> صفحه اصلی </a></li>
                <li><a href=""> ورود به سایت </a></li>
                <li><a href=""> عضویت در سایت </a></li>
                <li><a href=""> لیست آگهی های استخدام </a></li>
                <li><a href=""> لیست کاربران </a></li>
                <li><a href=""> لیست تگ ها </a></li>
                <li><a href=""> ثبت پرسش جدید </a></li>
                <li><a href=""> قوانین سایت </a></li>
                <li><a href=""> راهنمای سایت </a></li>
                <li><a href=""> پر بحث ترین تگ ها</a></li>
                <li><a href=""> پربازدیدترین آگهی ها </a></li>
                <li><a href=""> پر امتیازترین کاربران </a></li>
            </ul>
        </div>
    </div>
    <div class="bottom-footer">
        <div class="container">
            <div class="socials-layer">
                <a href=""><i class="icon-facebook"></i></a>
                <a href=""><i class="icon-google-plus"></i></a>
                <a href=""><i class="icon-instagram-old"></i></a>
                <a href=""><i class="icon-twitter"></i></a>
                <a href=""><i class="icon-linkedin"></i></a>
                <a href=""><i class="icon-telegram"></i></a>
                <a href=""><i class="icon-rss"></i></a>
            </div>
            <div class="copyright">
                <p>کلیه حقوق مادی و معنوی این سایت متعلق به <a href=""> شرکت برنامه نویسان پیشرو پایدار </a> می باشد . طراحی و برنامه نویسی <a href=""> برنامه نویسان </a></p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</footer>