<!-- aside -->
<aside>

    <!-- most popular post -->
    <section class="most-popular-questions">

        <article>
            <header><h2> پر امتیازترین پرسش های یک ماه اخیر </h2></header>
            <ul>
                <li>
                    <span> 10K <i class="icon-star"></i></span>
                    <h2><a href=""> معرفی بهترین و ساده ترین فریم ورک php برای پیاده سازی فروشگاه اینترنتی </a></h2>
                </li>
            </ul>
        </article>

        <article>
            <header><h2> پر بحث ترین پرسش های یک ماه اخیر </h2></header>
            <ul>
                <li>
                    <span> 8.5K <i class="icon-comment"></i></span>
                    <h2><a href=""> معرفی بهترین و ساده ترین فریم ورک php برای پیاده سازی فروشگاه اینترنتی </a></h2>
                </li>
            </ul>
        </article>

    </section>
    <!-- /most popular post -->
    <!-- most controversial tags -->
    <section class="most-controversial-tags">
        <header><h2> پر بحث ترین تگ ها </h2></header>
        <div class="tags-layer">
            <a href=""> Jquery </a>
        </div>
    </section>
    <!-- /most controversial posts -->
    <!-- banner -->
    <div class="banner-layer">
        <a href=""><img src="/images/banner.jpg"></a>
    </div>
    <!-- /banner -->
    <!-- banner -->
    <div class="banner-layer">
        <a href=""><img src="/images/banner-2.jpg"></a>
    </div>
    <!-- /banner -->

</aside>
<!-- /aside -->