<!-- aside -->
<aside>
    <!-- most popular post -->
    <section class="most-popular-questions">
        @await Component.InvokeAsync("ScoreDesQuestion")
        @await Component.InvokeAsync("CreateDateQuestion")
    </section>
    <!-- /most popular post -->
    <!-- most controversial tags -->
    @await Component.InvokeAsync("UseCountTag")
    <!-- /most controversial posts -->
    <!-- banner -->
    @*<div class="banner-layer">
            <a href=""><img src="/images/banner.jpg"></a>
        </div>*@
    <!-- /banner -->
    <!-- banner -->
    @*<div class="banner-layer">
            <a href=""><img src="/images/banner-2.jpg"></a>
        </div>*@
    <!-- /banner -->

</aside>
<!-- /aside -->