
<ul>
    <li><a href="/" style="font-weight: bold !important; font-size:x-large; color: green ">   <i class="icon-home"></i>  </a></li>
    <li><a asp-action="FilterTAgs" asp-controller="question"> تگ ها </a></li>
    <li><a asp-action="CreateQuestion" asp-controller="question">ثبت پرسش جدید  </a></li>
    <li><a asp-action="QuestionList" asp-controller="Question"> لیست سوالات </a></li>
    <li><a href=""> راهنمای سایت </a></li>
</ul>