@font-face {
  font-family: "bugfixer";
  src: url("fonts/bugfixer.eot");
  src: url("fonts/bugfixer.eot?#iefix") format("embedded-opentype"),
       url("fonts/bugfixer.woff") format("woff"),
       url("fonts/bugfixer.ttf") format("truetype"),
       url("fonts/bugfixer.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("fonts/bugfixer.svg#Flaticon") format("svg");
  }
}

[class^="icon-"]:before, [class*=" icon-"]:before,
[class^="icon-"]:after, [class*=" icon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
}

.icon-briefcase:before { content: "\f100"; }
.icon-phone-1:before { content: "\f101"; }
.icon-laptop:before { content: "\f102"; }
.icon-folder:before { content: "\f103"; }
.icon-repairing-service:before { content: "\f104"; }
.icon-reply:before { content: "\f105"; }
.icon-poll:before { content: "\f106"; }
.icon-happy-1:before { content: "\f107"; }
.icon-dollar-symbol:before { content: "\f108"; }
.icon-neutral:before { content: "\f109"; }
.icon-sad:before { content: "\f10a"; }
.icon-event:before { content: "\f10b"; }
.icon-happy:before { content: "\f10c"; }
.icon-alert:before { content: "\f10d"; }
.icon-menu-2:before { content: "\f10e"; }
.icon-menu-1:before { content: "\f10f"; }
.icon-cart-1:before { content: "\f110"; }
.icon-clock-1:before { content: "\f111"; }
.icon-atom:before { content: "\f112"; }
.icon-cogwheel:before { content: "\f113"; }
.icon-mode:before { content: "\f114"; }
.icon-bug-3:before { content: "\f115"; }
.icon-cloud:before { content: "\f116"; }
.icon-mouse:before { content: "\f117"; }
.icon-phone:before { content: "\f118"; }
.icon-rotate:before { content: "\f119"; }
.icon-crop:before { content: "\f11a"; }
.icon-link:before { content: "\f11b"; }
.icon-portrait:before { content: "\f11c"; }
.icon-photo:before { content: "\f11d"; }
.icon-window:before { content: "\f11e"; }
.icon-remove:before { content: "\f11f"; }
.icon-user-6:before { content: "\f120"; }
.icon-safe:before { content: "\f121"; }
.icon-switch:before { content: "\f122"; }
.icon-talk:before { content: "\f123"; }
.icon-university:before { content: "\f124"; }
.icon-delete-1:before { content: "\f125"; }
.icon-info-1:before { content: "\f126"; }
.icon-info:before { content: "\f127"; }
.icon-adjust:before { content: "\f128"; }
.icon-user-shape:before { content: "\f129"; }
.icon-notifications-on:before { content: "\f12a"; }
.icon-key:before { content: "\f12b"; }
.icon-sand-clock:before { content: "\f12c"; }
.icon-wait:before { content: "\f12d"; }
.icon-earth:before { content: "\f12e"; }
.icon-worldwide:before { content: "\f12f"; }
.icon-fullscreen-2:before { content: "\f130"; }
.icon-fullscreen-1:before { content: "\f131"; }
.icon-expand-3:before { content: "\f132"; }
.icon-fullscreen:before { content: "\f133"; }
.icon-flag-1:before { content: "\f134"; }
.icon-flag:before { content: "\f135"; }
.icon-pencil-edit:before { content: "\f136"; }
.icon-dustbin:before { content: "\f137"; }
.icon-magnifying-glass-1:before { content: "\f138"; }
.icon-bug-2:before { content: "\f139"; }
.icon-computer:before { content: "\f13a"; }
.icon-puzzle-2:before { content: "\f13b"; }
.icon-code-1:before { content: "\f13c"; }
.icon-coding-1:before { content: "\f13d"; }
.icon-code:before { content: "\f13e"; }
.icon-coding:before { content: "\f13f"; }
.icon-html:before { content: "\f140"; }
.icon-cancel-1:before { content: "\f141"; }
.icon-graph-2:before { content: "\f142"; }
.icon-credit-card:before { content: "\f143"; }
.icon-bookmark-4:before { content: "\f144"; }
.icon-bookmark-3:before { content: "\f145"; }
.icon-bookmark-2:before { content: "\f146"; }
.icon-bookmark-1:before { content: "\f147"; }
.icon-bookmark:before { content: "\f148"; }
.icon-marker:before { content: "\f149"; }
.icon-profile:before { content: "\f14a"; }
.icon-graph-1:before { content: "\f14b"; }
.icon-graph:before { content: "\f14c"; }
.icon-bug-1:before { content: "\f14d"; }
.icon-magnifying-glass:before { content: "\f14e"; }
.icon-problem:before { content: "\f14f"; }
.icon-bug:before { content: "\f150"; }
.icon-insect:before { content: "\f151"; }
.icon-open-book:before { content: "\f152"; }
.icon-time-left:before { content: "\f153"; }
.icon-terminal:before { content: "\f154"; }
.icon-sort:before { content: "\f155"; }
.icon-gear-2:before { content: "\f156"; }
.icon-question-1:before { content: "\f157"; }
.icon-checklist:before { content: "\f158"; }
.icon-cloud-computing:before { content: "\f159"; }
.icon-24-hours:before { content: "\f15a"; }
.icon-calendar-2:before { content: "\f15b"; }
.icon-time:before { content: "\f15c"; }
.icon-stack:before { content: "\f15d"; }
.icon-settings:before { content: "\f15e"; }
.icon-puzzle-1:before { content: "\f15f"; }
.icon-mobile-phone:before { content: "\f160"; }
.icon-paper:before { content: "\f161"; }
.icon-clock:before { content: "\f162"; }
.icon-calendar-1:before { content: "\f163"; }
.icon-medal:before { content: "\f164"; }
.icon-food:before { content: "\f165"; }
.icon-instagram:before { content: "\f166"; }
.icon-github:before { content: "\f167"; }
.icon-upload:before { content: "\f168"; }
.icon-download:before { content: "\f169"; }
.icon-bullet:before { content: "\f16a"; }
.icon-notebook:before { content: "\f16b"; }
.icon-print:before { content: "\f16c"; }
.icon-calendar:before { content: "\f16d"; }
.icon-wrench:before { content: "\f16e"; }
.icon-resume:before { content: "\f16f"; }
.icon-bag:before { content: "\f170"; }
.icon-analytics:before { content: "\f171"; }
.icon-money:before { content: "\f172"; }
.icon-puzzle:before { content: "\f173"; }
.icon-wallet:before { content: "\f174"; }
.icon-stop:before { content: "\f175"; }
.icon-tick-2:before { content: "\f176"; }
.icon-lock:before { content: "\f177"; }
.icon-login-1:before { content: "\f178"; }
.icon-work:before { content: "\f179"; }
.icon-percent:before { content: "\f17a"; }
.icon-user-5:before { content: "\f17b"; }
.icon-maps-and-flags:before { content: "\f17c"; }
.icon-expand-2:before { content: "\f17d"; }
.icon-expand-1:before { content: "\f17e"; }
.icon-expand:before { content: "\f17f"; }
.icon-list:before { content: "\f180"; }
.icon-questions:before { content: "\f181"; }
.icon-quality:before { content: "\f182"; }
.icon-question:before { content: "\f183"; }
.icon-shopping-cart-2:before { content: "\f184"; }
.icon-home-1:before { content: "\f185"; }
.icon-user-4:before { content: "\f186"; }
.icon-gear-1:before { content: "\f187"; }
.icon-edit-1:before { content: "\f188"; }
.icon-worlwide:before { content: "\f189"; }
.icon-arroba:before { content: "\f18a"; }
.icon-layers-1:before { content: "\f18b"; }
.icon-phone-call-1:before { content: "\f18c"; }
.icon-fax:before { content: "\f18d"; }
.icon-shopping-cart-1:before { content: "\f18e"; }
.icon-zoom-in:before { content: "\f18f"; }
.icon-like:before { content: "\f190"; }
.icon-dislike:before { content: "\f191"; }
.icon-right-quote:before { content: "\f192"; }
.icon-left-quote:before { content: "\f193"; }
.icon-java:before { content: "\f194"; }
.icon-android:before { content: "\f195"; }
.icon-telegram:before { content: "\f196"; }
.icon-rss:before { content: "\f197"; }
.icon-youtube:before { content: "\f198"; }
.icon-software:before { content: "\f199"; }
.icon-users:before { content: "\f19a"; }
.icon-document:before { content: "\f19b"; }
.icon-folder-1:before { content: "\f19c"; }
.icon-search-1:before { content: "\f19d"; }
.icon-attach:before { content: "\f19e"; }
.icon-placeholder:before { content: "\f19f"; }
.icon-star:before { content: "\f1a0"; }
.icon-play-button:before { content: "\f1a1"; }
.icon-avatar:before { content: "\f1a2"; }
.icon-gps:before { content: "\f1a3"; }
.icon-app:before { content: "\f1a4"; }
.icon-layers:before { content: "\f1a5"; }
.icon-gear:before { content: "\f1a6"; }
.icon-pass:before { content: "\f1a7"; }
.icon-month:before { content: "\f1a8"; }
.icon-user-3:before { content: "\f1a9"; }
.icon-user-2:before { content: "\f1aa"; }
.icon-user-1:before { content: "\f1ab"; }
.icon-rich:before { content: "\f1ac"; }
.icon-mail:before { content: "\f1ad"; }
.icon-phone-call:before { content: "\f1ae"; }
.icon-star-empty:before { content: "\f1af"; }
.icon-heart:before { content: "\f1b0"; }
.icon-telephone:before { content: "\f1b1"; }
.icon-cancel:before { content: "\f1b2"; }
.icon-search:before { content: "\f1b3"; }
.icon-shopping-cart:before { content: "\f1b4"; }
.icon-support:before { content: "\f1b5"; }
.icon-man:before { content: "\f1b6"; }
.icon-continuous-feed-paper:before { content: "\f1b7"; }
.icon-credit-cards-payment:before { content: "\f1b8"; }
.icon-filled-heart:before { content: "\f1b9"; }
.icon-date:before { content: "\f1ba"; }
.icon-check-1:before { content: "\f1bb"; }
.icon-eye:before { content: "\f1bc"; }
.icon-ring:before { content: "\f1bd"; }
.icon-tick-inside-circle:before { content: "\f1be"; }
.icon-radio-on-button:before { content: "\f1bf"; }
.icon-backspace-arrow:before { content: "\f1c0"; }
.icon-caret-up:before { content: "\f1c1"; }
.icon-three-dots:before { content: "\f1c2"; }
.icon-ellipsis:before { content: "\f1c3"; }
.icon-caret-down:before { content: "\f1c4"; }
.icon-add-user:before { content: "\f1c5"; }
.icon-notifications:before { content: "\f1c6"; }
.icon-lock-2:before { content: "\f1c7"; }
.icon-tick-1:before { content: "\f1c8"; }
.icon-check-box:before { content: "\f1c9"; }
.icon-back-arrow:before { content: "\f1ca"; }
.icon-forward-arrow:before { content: "\f1cb"; }
.icon-facebook:before { content: "\f1cc"; }
.icon-clock-outline:before { content: "\f1cd"; }
.icon-programming-code:before { content: "\f1ce"; }
.icon-login:before { content: "\f1cf"; }
.icon-menu-button:before { content: "\f1d0"; }
.icon-recycling-bin:before { content: "\f1d1"; }
.icon-help:before { content: "\f1d2"; }
.icon-instagram-old:before { content: "\f1d3"; }
.icon-edit-button:before { content: "\f1d4"; }
.icon-comment-1:before { content: "\f1d5"; }
.icon-coffee:before { content: "\f1d6"; }
.icon-cart:before { content: "\f1d7"; }
.icon-mail-envelope:before { content: "\f1d8"; }
.icon-power-symbol:before { content: "\f1d9"; }
.icon-linkedin:before { content: "\f1da"; }
.icon-whatsapp:before { content: "\f1db"; }
.icon-chevron-left:before { content: "\f1dc"; }
.icon-edit:before { content: "\f1dd"; }
.icon-plus-sign:before { content: "\f1de"; }
.icon-chevron-up:before { content: "\f1df"; }
.icon-minus:before { content: "\f1e0"; }
.icon-check:before { content: "\f1e1"; }
.icon-chevron-right:before { content: "\f1e2"; }
.icon-chevron-down:before { content: "\f1e3"; }
.icon-delete:before { content: "\f1e4"; }
.icon-books-stack-of-three:before { content: "\f1e5"; }
.icon-google-plus:before { content: "\f1e6"; }
.icon-youtube-2:before { content: "\f1e7"; }
.icon-star-half:before { content: "\f1e8"; }
.icon-comments:before { content: "\f1e9"; }
.icon-comment:before { content: "\f1ea"; }
.icon-home:before { content: "\f1eb"; }
.icon-picture:before { content: "\f1ec"; }
.icon-speech-bubbles:before { content: "\f1ed"; }
.icon-logo:before { content: "\f1ee"; }
.icon-giftbox:before { content: "\f1ef"; }
.icon-smartphone:before { content: "\f1f0"; }
.icon-dial:before { content: "\f1f1"; }
.icon-circular-arrow:before { content: "\f1f2"; }
.icon-caret-left:before { content: "\f1f3"; }
.icon-twitter:before { content: "\f1f4"; }
.icon-photo-camera:before { content: "\f1f5"; }
.icon-question-mark:before { content: "\f1f6"; }
.icon-web-link:before { content: "\f1f7"; }
.icon-share:before { content: "\f1f8"; }
.icon-gmail:before { content: "\f1f9"; }
.icon-tick:before { content: "\f1fa"; }
.icon-information-button:before { content: "\f1fb"; }
.icon-user:before { content: "\f1fc"; }