@{
    Layout = "_UserPanelLayout";
    ViewData["Title"] = "صفحه کاربری";
}

@section Header
{
    <partial name="_Header" />

}

@section Breadrcumb
{
    <li itemtype="http://schema.org/ListItem" itemscope itemprop="itemListElement"><a href="javascript:void(0)" itemprop="item"><span itemprop="name"> @ViewData["Title"] </span></a></li>
}
