@using BugFixer.Application.Extentions
@using BugFixer.Application.Statics
@model BugFixer.Domain.Entities.Account.User
<div class="loggedin-status">

    <i class="icon-profile "></i>
    <span> حساب کاربری شما  </span>
    <div class="sublayer">
        <div class="avatar">
            <a href=""><img src="@PathTools.USerAvatarPath@Model.Avatar"></a>
            <div>
                <span class="fullname"> @Model.GetUserDisplayname()  </span>
                <span class="detail"> 123 پرسش | 1236 پاسخ </span>
            </div>
        </div>
        <ul>
            <li><a asp-action="index" asp-controller="home" asp-area="userpanel"> داشبورد </a></li>
            <li><a asp-action="EditInfo" asp-controller="account" asp-area="UserPanel"> تنظیمات حساب کاربری </a></li>
            <li><a asp-action="ForgotPassword" asp-controller="account"> تغییر رمز عبور </a></li>
            @*<li><a href=""> پرسش های من </a></li>
                <li><a href=""> پاسخ های من </a></li>*@
            <li><a asp-action="LogOut" asp-controller="Account"> خروج از حساب کاربری </a></li>
        </ul>
    </div>

</div>

@*<div class="loggedin-status">
        <i class="icon-profile"></i>
        <span> حساب کاربری شما  </span>

    </div>*@