@model BugFixer.Domain.ViewModels.Question.EditAnswerViewModel
@{
    ViewData["Title"] = "ویرایش پاسخ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles
{
    <link href="/css/question.css" rel="stylesheet" />
    <link href="/css/page.css" rel="stylesheet" />
    <link href="/css/form.css" rel="stylesheet" />
}

@section Header
{
    <partial name="_Header" />
}


<div class="user-page-style">

    <div class="breadcumb-layer">
        <div class="container">
            <ul itemtype="http://schema.org/BreadcrumbList" class="breadcrumb">
                <li itemtype="http://schema.org/ListItem" itemscope="" itemprop="itemListElement"><a href="/" itemprop="item"><span itemprop="name"> صفحه اصلی  </span></a></li>
                <li itemtype="http://schema.org/ListItem" itemscope="" itemprop="itemListElement"><a href="javascript:void(0)" itemprop="item"><span itemprop="name"> @ViewData["Title"] </span></a></li>
            </ul>
        </div>
    </div>

    <div class="questions-layer page-style">

        <div class="container">

            <div class="right-col">

                <section class="question-submit-layer">

                    <header class="top-heading"><h1> <a href="javascript:void()">@ViewData["Title"]</a> </h1> </header>

                    <div class="inner">
                        @*<partial name="_CreateQuestionBotPArtial" />*@

                        <div class="submit-layer">
                            @*<p class="page-style"> لطفا قبل از ثبت پرسش قوانین را مطالعه نمایید ، ثبت پرسش شما تایید قوانین محسوب خواهد شد :</p>
                                <ul>
                                    <li> ادب و احترام در گفتگو می بایست رعایت شود ، در صورت مشاهده تخلف کاربری شما مسدود خواهد شد. </li>
                                    <li> از ثبت پرسش تکراری خودداری نمایید. </li>
                                    <li> عنوان پرسش واضح و تا حد امکان کوتاه باشد. </li>
                                    <li> از تگ های کاملا مرتبط استفاده نمایید. </li>
                                    <li> جهت کسب پاسخ صریح ، متن پرسش خود را کاملا واضح ارسال نمایید. </li>
                                </ul>*@

                            <form class="form-layer-style" asp-action="EditAnswer" asp-controller="Question" method="post">

                                <input type="hidden" asp-for="AnswerID" />
                                <input type="hidden" asp-for="QuestionId" />
                                <div class="row">

                                    <div class="col-xs-12">
                                        <div class="textarea-layer">
                                            <label asp-for="Answer" class="mb-10"></label>
                                            <textarea asp-for="Answer" class="editor"></textarea>
                                            <span asp-validation-for="Answer"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4 col-xs-7 pull-left">
                                        <button type="submit" class="submit-button blue"> <span>ویرایش پاسخ</span> </button>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
            <!-- aside -->
            <aside>
                <partial name="_LeftSide" />
            </aside>
            <!-- /aside -->
            <div class="clearfix"></div>
        </div>
    </div>
</div>
@section Scripts
{
    <partial name="_JqueryValidation" />
    <partial name="_CKEditorPatial" />
    <script src="/js/question.js"></script>
}


