@model BugFixer.Domain.ViewModels.Acount.LoginViewModel
@{
    ViewData["Title"] = "ورود";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles
{
    <link rel="stylesheet" type="text/css" href="/css/user.css">
}

@section Header
{
    <partial name="_Header" />
}

<div class="user-page-style">

    <div class="breadcumb-layer">
        <div class="container">
            <ul itemtype="http://schema.org/BreadcrumbList" class="breadcrumb">
                <li itemtype="http://schema.org/ListItem" itemscope itemprop="itemListElement"><a href="/" itemprop="item"><span itemprop="name"> صفحه اصلی </span></a></li>
                <li itemtype="http://schema.org/ListItem" itemscope itemprop="itemListElement"><a asp-action="Login" asp-controller="Account" itemprop="item"><span itemprop="name"> ورود به سایت </span></a></li>
            </ul>
        </div>
    </div>

    <div class="user-page">

        <div class="container">

            <div class="row">

                <div class="col-md-7 col-sm-12 col-xs-12 pull-left">

                    <div class="inner">
                        <div class="description">
                            <p>لطفا به هنگام ورود به حساب کاربری به موارد زیر توجه فرمایید </p>
                            <ul>
                                <li>در صورتی که برای اولین بار به حساب کاربری خود وارد می شوید ، پس از ورود به سامانه ، جهت حفظ امنیت بیشتر ، لطفا رمز عبور خود را تغییر دهید.</li>
                                <li>پس از ورود به حساب کاربری ، جهت حفظ امنیت ، لطفا از حساب کاربری خود خارج شوید.</li>
                                <li>در صورتی که رمز عبور خود را فراموش کرده اید ، می توانید از طریق شماره موبایلتان ، رمز عبور جدید را دریافت نمایید.</li>
                            </ul>

                            <div class="register-link">
                                <i class="icon-add-user"></i> در صورتی که در سایت ، عضو نیستید ، ابتدا <a asp-action="Register" asp-controller="Account"> ثبت نام </a> کنید
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-5 col-sm-12 col-xs-12 pull-right">

                    <form asp-action="Login" asp-controller="Account" method="post" class="shadow-style">
                        <input type="hidden" name="name"  asp-for="ReturnUrl" />
                        <div class="inner">

                            <h2> <i class="icon-three-dots"></i> ثبت نام در سایت </h2>

                            <div class="input-layer">
                                <span><i class="icon-mail-envelope"></i> پست الکترونیک </span>
                                <input type="email" asp-for="Email">
                            </div>
                            <span class="error-style" asp-validation-for="Email"></span>

                            <div class="input-layer mt-50">
                                <span><i class="icon-lock"></i> رمز عبور </span>
                                <input type="password" asp-for="Password">
                            </div>
                            <span class="error-style" asp-validation-for="Password" style="color:red !important"></span>

                            <div class="checkbox">
                                <input type="checkbox" asp-for="RemmberMe">
                                <label for="RememberMe"> مرا بخاطر بسپار </label>
                            </div>

                            <div class="link">
                                <a asp-action="ForgotPassword" asp-controller="account"> رمز عبور خود را فراموش کرده ام !</a>
                            </div>
                            <button type="submit"> ورود  </button>

                        </div>

                    </form>

                </div>

            </div>


        </div>

    </div>

</div>

@section Scripts
{
    <partial name="_JqueryValidation" />
}
